// dark-theme
$color--white: #fff;
$color--bg: #241b2c;
$color--border: #d0b7e5;
$color--primary: #2d8984;
$color--active: #4cd1d1;
$color--text: #fefefe;
$color--primary--light-9: #2a598a;
$color--warning: #fca330;
$color--success: #01652f;
$color--border: #9f9f9f;
